
 body {
     font-family: 'Times New Roman', sans-serif;
     margin: 0;
     background: linear-gradient(135deg, #74ebd5, #9face6);
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     justify-content: center;
     overflow: auto;
 }
.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 800px;
    overflow: auto; /* прокрутку для великих текстів   */
}
 .table-container {
     max-height: 60vh; /* Обмежує висоту таблиці */
     overflow-y: auto; /* Додає вертикальну прокрутку, якщо таблиця перевищує обмежену висоту */
 }
header {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}
 form {
     margin-top: 20px;
 }
 .text-title{
     color: #232a63;
     font-weight: bold;
     text-align: center;
     font-family: 'Pacifico', cursive;
 }
 table {
     width: 100%;
     border-collapse: collapse;
 }
 form label {
     display: block;
     text-align: left;
     margin-bottom: 0.2rem;
     font-weight: bold;
 }
nav {
    margin-top: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1rem;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #0056b3;
}
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    transition: color 0.3s;
}
.logout:hover {
    color: #0056b3;
}
 form textarea {
     width: calc(100% - 22px);
     padding: 0.5rem;
     margin-bottom: 1rem;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
 }
 form button {
     width: 100%;
     padding: 0.75rem;
     background-color: #007bff;
     border: none;
     border-radius: 4px;
     color: #ffffff;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.3s;
     margin-top: 20px;
 }
 form button:hover {
     background-color: #0056b3;
     transform: translateY(-2px);
 }
 form button:active {
     transform: translateY(1px);
 }
 th, td {
     border: 1px solid #ddd;
     padding: 8px;
 }
 th {
     background-color: #f2f2f2;
     font-weight: bold;
 }
 td form {
     display: inline;
 }
 footer {
     margin-top: 20px;
 }
 .error {
     color: red;
 }
 .button {
     display: inline-block;
     padding: 6px 12px;
     font-size: 1rem;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     color: #232a63;
     border-radius: 4px;
     margin: 4px;
     cursor: pointer;
     transition: background-color 0.3s;
 }
 .edit-button {
     background-color: #007bff; /* Змінено на синій колір для редагування */
 }
 .edit-button:hover {
     background-color: #0056b3;
 }
 .delete-button {
     background-color: #f44336;
 }
 .delete-button:hover {
     background-color: #da190b;
 }
 .login-container {
     background-color: #ffffff;
     padding: 2rem 3rem;
     border-radius: 10px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     text-align: center;
     width: 350px;
     position: relative;
     overflow: hidden;
 }
 .login-container h1 {
     margin-bottom: 1.5rem;
     color: #333;
     font-size: 2rem;
 }
 .login-container label {
     display: block;
     margin-bottom: 0.5rem;
     font-weight: bold;
     text-align: left;
 }
 .login-container input[type="text"],
 .login-container input[type="password"] {
     width: calc(100% - 22px);
     padding: 0.5rem;
     margin-bottom: 1rem;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
 }
 .login-container button {
     width: 100%;
     padding: 0.75rem;
     background-color: #007bff;
     border: none;
     border-radius: 4px;
     color: #ffffff;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.3s;
 }
 .login-container button:hover {
     background-color: #0056b3;
     transform: translateY(-2px);
 }
 .login-container button:active {
     transform: translateY(1px);
 }
 .error-message {
     color: red;
     margin-bottom: 1rem;
 }
 .error-message strong {
     color: darkred;
 }